<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<title>Hello</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/default.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'default.css' %}"/
	<script type="text/javascript" src="{% static 'js/jquery.confirm.min.js' %}"></script>
	
</head>
<body>
<div class="header">
	<ul class='breadcrumb'>
	{# {{user.username}} #}
		<li><a href="{% url 'home' %}">The Board</a></li>

		<li><a href="{% url 'profile' user %}">Profile</a></li>
		{% ifequal user.username 'daniel' %} <li><a href="{% url 'orderBills' %}">Order Bills</a></li> {% endifequal %}
		{% ifnotequal user.username 'daniel' %} 
			<li><a href="{% url 'viewDuePayment' %}">Payments due</a></li> 
		
		{% else %}
			<li><a href="{% url 'paybackView' %}">View Payments</a></li>
		{% endifnotequal %}
		
		{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
		{% else %}
			<li><a href="{% url 'my_login' %}">Log In</a></li>
		{% endif %}
	</ul>
</div>
<div class="sub_header">
	<span>Welcome {{user|title }}, your balance is &pound;{{profile.ammount|floatformat:"0"}}</span>
</div>
<div class="content">
	{% block 'payments' %}{% endblock %}
	{% block 'add_expense' %}{% endblock %}
	{% block 'all_payments' %}{% endblock %}
	{% block 'deposit' %}{% endblock %}
	{% block 'withdraw' %}{% endblock %}
	{% block 'order_payment' %}{% endblock %}
	{% block 'view_due_payments' %}{% endblock %}
	{% block 'payback_view' %}{% endblock %}
	{% block 'index' %}{% endblock 'index' %}
</div>


</body>
</html>