{% extends "base.html" %}

{% block 'index' %}

{% if deduction %}
	{% if profile.deduct %}
		<p class="aler alert-danger">Waiting for deduction confirmation</a></p>
	{% else %}
		<p class="aler alert-danger"><a href="{% url 'confirmDeduct' %}">Confirm deduct</a></p>
	{% endif %}
{% endif %}

{% if notification %}
	<div class="alert alert-success" role="alert">
  	<p>Added {{expense}} for {{description}}</p>
	</div>
{% endif %}
<hr/>
<button type="button" class="btn btn-danger"><a class="board_actions" href="{% url 'addExpense' %}">Add expense</a></button>
<button type="button" class="btn btn-success"><a class="board_actions" href="{% url 'deposit' %}">Deposit</a></button>
<button type="button" class="btn btn-info"><a class="board_actions" href="{% url 'withdraw' %}">Withdraw</a></button>

<style type="text/css">body{ background: url(http://subtlepatterns.com/patterns/cream_pixels.png); }</style>
<hr/>
	<p>Visit page:</p>
	{% for user in users %}
		<a href="{% url 'profile' user.username %}">{{user}}</a>
	{% endfor %} <br/>


<div>
<hr/>
	<p>Last 30 purchases:</p>
	<table class="full_table">
	<tr class="tableHeader purchase">
		<td>By</td> 
		<td>Ammount</td> 

		<td>Description</td>

		<td>Date</td>
		<td></td>
	</tr>
	{% for purchase in purchases %}

		 <tr {% if forloop.counter0|divisibleby:2 %} class="one_off" {% endif %}>
			<td>{{purchase.person.user}}</td>
			<td>&pound;{{purchase.ammount}}</td> 
			<td>{{purchase.description}}</td>
			<td>{{purchase.theDate}}</td>
			{% if user == purchase.person.user %}<td><a href="{% url 'removeProduct' purchase.pk %}"><span class="glyphicon glyphicon-remove-sign"></a></span></td>  {% else %} <td></td> {% endif %}
		</tr>
	{% endfor %}
	</table style="width:100%;">
</div>


<hr/>
	<div>
	<p>Last 30 Deposits:</p>
	<table class="full_table">
	<tr class="tableHeader deposit">
		<td>By</td> 
		<td>Deposited</td> 
		<td>Date</td>
	</tr>
	{% for deposit in deposits %}

		 <tr {% if forloop.counter0|divisibleby:2 %} class="one_off" {% endif %}>
			<td>{{deposit.person.user}}</td>
			<td>&pound;{{deposit.ammount}}</td> 
			<td>{{deposit.theDate}}</td>
		</tr>
	{% endfor %}
	</table style="width:100%;">
</div>

<hr/>
	<div>

	<p>Last 30 Withdrawals:</p>
	<table class="full_table">
	<tr class="tableHeader wwithdraw">
		<td>By</td> 
		<td>Ammount</td> 
		<td>Date</td>
	</tr>
	{% for withdrawal in withdrawals %}

		 <tr {% if forloop.counter0|divisibleby:2 %} class="one_off" {% endif %}>
			<td>{{withdrawal.person.user}}</td>
			<td>&pound;{{withdrawal.ammount}}</td> 
			<td>{{withdrawal.theDate}}</td>
		</tr>
	{% endfor %}
	</table style="width:100%;">
</div>



<br/>

<br/>
<p>House balance: {{total_ammount}}</p>
{% endblock 'index' %}